{% extends 'base.html' %}

{% load static %}

{% block h1topcontent %}
<h1 class="text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
{% endblock h1topcontent %}

{% block h2topcontent %}
<h2 class="text-white-75 mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Produit" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Chercher</button>
  </div>
{% endblock h2topcontent %}

{% block midcontent %}
<h2>Colette et Rémi</h2>
<hr class="divider" />
<div class="row">
    <div class="col-md-6">
        <p><strong>Colette Tatou</strong> : "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</p>
        <img src="{% static 'assets/img/colette-tatou-full.png' %}" alt="Photo de Colette">
        <h3>Colette</h3>
    </div>
    <div class="col-md-6">
        <p><strong>Rémi</strong> : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
        <img src="{% static 'assets/img/remy.png' %}" alt="Photo de Rémi">
        <h3>Rémi</h3>
    </div>
</div>

{% endblock midcontent %}

{% block contactcontent %}
<h2 class="mt-0">Contactez-nous !</h2>
<hr class="divider" />
<p class="text-muted mb-5">Vous pouvez nous joindre par téléphone ou par mail à toute heure du jour et de la nuit mais pas sûr que l'on vous réponde quand c'est le coup de feu en cuisine.</p>
<div class="row">
    <div class="col-md-6">
        <i class="bi bi-telephone"></i>
        <div>+33 6 06 06 06 06</div>
    </div>
    <div class="col-md-6">
        <i class="bi bi-envelope"></i>
        <div>coletteetremi@purbeurre.py</div>
    </div>
</div>
{% endblock contactcontent %}



{% comment %} <h2 class="text-white mt-0">We've got what you need!</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                        <a class="btn btn-light btn-xl" href="#services">Get Started!</a> {% endcomment %}