[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
coverage = "*"
gunicorn = "*"
psycopg2 = "2.8.6"
whitenoise = "*"
dj-database-url = "*"
flake8 = "*"
flake8-dashboard = "*"
flake8-html = "*"
selenium = "*"
raven = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"

[dev-packages]
selenium = "*"
black = "*"
ipdb = "*"

[requires]
python_version = "3.9"
