{% extends 'base.html' %}
{% load static %}

{% block topcontent %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>	
                {% endfor %}
            {% endif %}
            <div class="col-lg-8 align-self-end">
                {% block h1topcontent %}
                <div class="rounded mx-auto d-block" id="product_picture">
                    <p class="rounded mx-auto d-block" id="searched_product_name">{{ searched_prod }}</p>
                    <img src="{{searched_prod.image}}" alt="Image du produit" class="rounded img-fluid">
                </div>
                {% endblock h1topcontent %}
            </div>
            <div class="col-lg-8 align-self-baseline">
                {% block h2topcontent %}
                {% endblock h2topcontent %}
            </div>
        </div>
    </div>
</header>
{% endblock topcontent %}


{% block about %}
    <section class="page-section bg-primary" id="about">
        <div class="row">
            <h1 class="text-center">Vous pouvez remplacer cet aliment par :</h1>
            {% for prod in substitut_prods %}
                <!-- feaure box -->
                <div class="col-lg-4" id="box_product">
                    <div class="feature-box-1 ">
                        <div class="rounded mx-auto d-block text-center" id="product_picture">
                            <button type="button" class="btn btn-light btn-circle btn-sm" id="nutriscore">
                                <p class="text-uppercase">{{prod.nutriscore}}</p>
                            </button>
                            <img src="{{prod.image}}" alt="Image du produit" class="rounded img-fluid">
                        </div>
                        <div class="row text-center">
                            <div>
                                <h5 class="col text-dark text-center">
                                    <form id="produrl" method=POST action="{% url 'product' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="prod_id" value="{{ prod.id }}">
                                        <button type="submit" name="submit_param" value="submit_value" class="link-button btn btn-primary text-dark">
                                            {{ prod.name }}
                                        </button>
                                    </form>
                                </h5>
                            </div>
                            <div class="col">
                                <p>
                                    {% if user.is_authenticated %}
                                        {% if prod.active == True %}
                                        <button class="btn btn-outline-dark btn-block" type="submit" disabled>
                                            <img src="{% static 'assets/img/logo_pur_beurre.png' %}" height="25rem" width="25rem" style="padding-bottom: 0.25rem"></img>
                                        </button>
                                        {% else %}
                                        <form id="prodfav" method=POST action="{% url 'savefavorite' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="searched_prod_id" value="{{ searched_prod.id }}">
                                            <input type="hidden" name="favprod" value="{{ prod.id }}">
                                            <button id="save_button" class="btn btn-outline-dark btn-block" type="submit">
                                                <i class="bi bi-save2"> Sauvegarder</i>
                                            </button>
                                        </form>
                                        {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / -->
            {% endfor %}
        </div> 
    </section>

{% endblock about %}

