{% extends 'base.html' %}

{% load static %}

{% block topcontent %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>	
                {% endfor %}
            {% endif %}
            <div class="col-lg-8 align-self-end">
                {% block h1topcontent %}{% endblock h1topcontent %}
            </div>
            <div class="col-lg-8 align-self-baseline">
                {% block h2topcontent %}{% endblock h2topcontent %}
            </div>
        </div>
    </div>
</header>
{% endblock topcontent %}

{% block about %}
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                {% block midcontent %}{% endblock midcontent %}
            </div>
        </div>
    </div>
</section>
{% endblock about %}

{% block contact %}
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                {% block contactcontent %}{% endblock contactcontent %}
            </div>
        </div>
    </div>
</section>
{% endblock contact %}