{% extends 'base.html' %}

{% block h2topcontent %}
<h2 class="text-center text-white-75 mb-5">Créer un compte</h2>
<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p>Il y a des erreurs dans ce formulaire...</p>
                {% for field in form %}
                    {% if field.errors  %}
                        {{ field.errors }}
                    {% endif %}

                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        
            {{ form.as_p }}

        <input type="submit" value="S'enregistrer" class="btn btn-secondary">
    </form>
</div>
<br/><br/>
{% endblock h2topcontent %}